.badge {
  position: absolute;
  width: 32px;
  height: 32px;

}

.badge-center {
  bottom: -12.5px;
    left: 50%;
  transform: translateX(-50%);
}

.badge-right {
  bottom: -0.5px;
  right: -4.5px;
}

.badge-left {
  bottom: -0.5px;
  left: -4.5px;
}