.input::placeholder {
	color: var(--placeholder);
}

.input {
	text-align: inherit;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	/* Change the color here (e.g., to your desired background color) */
	-webkit-box-shadow: 0 0 0 1000px var(--color-input-autocomplete) inset !important;

	/* Set the text color to ensure readability, as it's often forced to black */
	-webkit-text-fill-color: #000000 !important;

	/* Optional: Hide the Chrome autofill transition (helps prevent a flash of color) */
	transition: background-color 5000s ease-in-out 0s;
}
